<!--<div class="collection">
    <div ng-repeat="record in collection.records">
        <div class="collection_item">
            <a ng-href="{{record.item_link}}">
            <div class="image">
                <img ng-src="{{record.img_link}}" alt="{{record.title}}" class="thumb" />
            </div>
            <div class="title">
                {{record.title}}
            </div>
            </a>
        </div>
    </div>
</div>-->
<!--
<div class="cell" ng-repeat="record in collection.records">
    <article class="item">
        <a href="{{record.item_link}}" class="image cell"><img ng-src="{{record.img_link}}" alt="{{record.title}}" /></a>
        <header>
            <h3>{{record.title}}</h3>
        </header>
    </article>
</div>
-->
<div ng-hide="chunked" class="loader">
    <img src="view/css/ajax-loader.gif" class="loading" alt="loading" />
</div>
<section class="collection container" ng-repeat="colpart in chunked">
    <article class="collection" ng-repeat="record in colpart">
        <div class="img">
            <a href="{{record.item_link}}" class="collection"><img class="collection" ng-src="{{record.img_link}}" alt="{{record.title}}" /></a>
        </div>
        <header class="collection">
            <h3 class="collection">{{record.title}}</h3>
        </header>
    </article>
</section>