<div class="normal">
    <h2>Informatie-Aan-Zee Demo</h2>
    <p>Demo voor Informatie Aan Zee ontwikkeld door PACKED vzw i.s.m. het Museum voor Edelsmeedkunst, Juwelen en Diamant.</p>
    <p>Deze demo maakt gebruik van de publieke API van het <a href="https://zilver.qi-cms.com">collectiebeheersysteem</a> van het MEJD. Dit systeem is gebaseerd op <a href="http://keepthinking.it/qi">Qi</a> van <a href="http://keepthinking.it">Keepthinking</a>.</p>
    <p>De demo is geschreven in Javascript en HTML5. Het framework is <a href="https://angularjs.org/">AngularJS</a>. De API-calls worden omgeleid via een <a href="https://github.com/pieterdp/khepri">PHP-wrapper</a> om het <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a>-probleem te omzeilen.</p>
    <p>Alle code is beschikbaar op <a href="https://github.com/PACKED-vzw/IaZ-demo">Github</a> als GPLv2.</p>
    <h3>Contact</h3>
    <ul>
        <li>An Labis (MEJD) &lt;<a href="mailto:an.labis@zilvermuseum.be">an.labis@zilvermuseum.be</a>&gt;</li>
        <li>Astrid Vergauwe (MEJD) &lt;<a href="mailto:astrid.vergauwe@zilvermuseum.be">astrid.vergauwe@zilvermuseum.be</a>&gt;</li>
        <li>Bert Lemmens (PACKED vzw) &lt;<a href="mailto:bert@packed.be">bert@packed.be</a>&gt;</li>
        <li>Pieter De Praetere (PACKED vzw) &lt;<a href="mailto:pieter@packed.be">pieter@packed.be</a>&gt;</li>
    </ul>
</div>