<div class="normal">
    <h2>Wat?</h2>
    <p>Het MEJD profileert zich als “het kennis- en ontmoetingscentrum voor edelsmeedkunst, juweel en diamant. Vertrekkende vanuit de historische binnenstad van Antwerpen, het epicentrum van luxe design in de 16de eeuw, wordt een universeel verhaal over rijkdom, kwaliteit en schoonheid vertelt waarbij Antwerpse historische en hedendaagse creaties in een internationaal perspectief worden gebracht. Daarnaast wordt gestreefd naar een nauwe samenwerking met verschillende creatieve industrieën.</p>
    <p>Het Legaat Lunden is tot op heden de belangrijkste schenking die het MEJD ontving. Zo schenkt Pierre Lunden in 1975 zijn verzameling van een honderdtal zilveren objecten, een twintigtal Chinese porseleinen voorwerpen, een paar meubels, een prachtige gouden snuifdoos, enkele schilderijen en een aantal familiedocumenten aan het voormalig Zilvermuseum Sterckshof. Pierre Lunden kiest doelgericht voor dit museum, omdat hij zijn jeugd in Deurne heeft doorgebracht.</p>
    <p>In zijn beginjaren als verzamelaar heeft Pierre Lunden een grote belangstelling voor Chinees porselein. Na zijn vijftigste legt hij zich meer toe op het verwerven van zilveren gebruiksvoorwerpen. Lunden besteedt veel tijd aan onderzoek en analyse van zijn verzameling. Het zilverwerk stamt voornamelijk uit de zeventiende en achttiende eeuw en is afkomstig uit de Zuidelijke Nederlanden. De objecten zijn van zeer hoge kwaliteit en komen uit vijftien verschillende Belgische steden. Zijn voorkeur blijft echter uitgaan naar Antwerps zilver.</p>
    <p>Op <a href="http://collectielunden.be">collectielunden.be</a> ontsluit MEJD de volledige dataset van het legaat Lunden.</p>
    <p>De metadata van deze collectie kan op de volgende manier geraadpleegd worden:</p>
    <ul>
        <li>Via de <a href="https://zilver.qi-cms.com/api">MEJD API</a> die toegang heeft tot de collectiedata geregistreerd in het collectiedatabank.</li>
    </ul>
    <h2>API</h2>
    <p>De Lunden collectie dataset bestaat uit zo’n 200 objectomschrijvingen en een 500tal kwalitatieve afbeeldingen.</p>
    <p>Via de  RESTful API, stelt het MEJD het collectiedata en afbeeldingen van de Lunden collectie beschikbaar aan applicatieontwikkelaars. Deze data kan gebruikt worden om  bijvoorbeeld nieuwe apps of webtoepassingen te ontwikkelen.</p>
    <h3>Technische specificaties</h3>
    <ul>
        <li>De API is volledig RESTful.</li>
        <li>Het primaire formaat (zowel GET als POST/PUT) is JSON. Sommige GET-queries (zie documentatie leverancier) ondersteunen ook XML.</li>
        <li>Het dataformaat QI-eigen; de verschillende onderdelen ("velden") kunnen opgevraagd worden via <a href="https://zilver.qi-cms.com/api/get/types">https://zilver.qi-cms.com/api/get/types</a>.</li>
        <li>Sommige objecten hebben &eacute;&eacute;n of meerdere afbeeldingen. Afbeeldingen bevinden zich in <code>item.media.image</code> (als array). Het path is relatief t.o.v. <a href="https://zilver.qi-cms.com/media/_source/">https://zilver.qi-cms.com/media/_source/</a>.</li>
    </ul>
    <h3>Documentatie</h3>
    <p><a href="QI_API.pdf">Technische documentatie van de leverancier.</a></p>
    <h3>Toegang</h3>
    <p>Om toegang te krijgen tot de API moet je een persoonlijke login en paswoord aanvragen.</p>
    <p>Contacteer  <a href="mailto:collectie@zilvermuseum.be">collectie@zilvermuseum.be</a> om dit te verkrijgen.</p>
    <p>De login en het paswoord worden zo snel mogelijk aan jou bezorgd.</p>
</div>